name: twist-animal-movement
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - matplotlib
  - scipy
  - scikit-learn
  - jupyterlab
  - pip:
      - -r ../../requirements.txt
